
body{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
    
}



#container{ 

    border: 1px solid red;
    width: 960px;
    min-width: 820px;
    max-width: 1280px;
    margin: 0 auto;
    background: url(./images/coluna.png) repeat-y left top;

    

}

#marca{

    height: 300px;
    
    background: #9e9e9e;
    text-align: center;
    line-height: 300px;
    background: #255992 url(./images/cabecalho2.jpg) no-repeat center;
    /* border: 1px solid red; */

}

#conteudo{

    /* border: 1px solid red; */
    width:72.22%;
    float: right;
    margin:0 auto;

}

#navegacao{


    /* border: 1px solid red; */
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
    /* background: #d1d1d1; */
    /* max-width: 200px; */
    min-width: 110px;

}

#navegacao ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#navegacao ul li a{
    line-height: 2.65em;
    text-decoration: none;
    color: rgb(167, 37, 37);
    display: block;
    text-indent: 40px;
    height: 40px;
    max-width: 200px;
    margin-bottom: 5px;
    background: url(./barra-navegacao-vertical/menu.png) no-repeat left bottom;

}

#navegacao ul a:hover{
    
    background-position: right bottom;
    color: white;
    
}
#rodape{

    border: 1px solid red;
    clear: both;
    background: #c4c4c4;
    padding: 5px;

}

#conteudo-esquerda{

    float:left;
    width: 61.5%;
    border: 1px solid red;
}
/* 
#imagem{
    width: 90%;
    overflow: hidden;
} */

img.img-noticia{
     
    width: 94%;
    padding: 2%;
    max-width: 600px;
}
#conteudo-direita{

    float:right;
    width: 34.61%;
    background: #c4c4c4;
    border: 1px solid red;
   
}

#conteudo-direita p{
    padding: 0 20px;
}

#conteudo-direita h2{
    padding: 0 20px;
}
 

